* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
h3 {
  line-height: 1.1;
}
iframe {
  width: 100%;
}
.img-responsive {
  width: 100%;
  display: block;
  max-width: 100%;
}
button:focus,
a:focus {
  outline: 2px dashed #b8f0c0;
}
figure {
  margin: 0;
}
figure picture {
  display: block;
}
figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
