.wrapper {
  .searchControlWrapper {
    width: 100%;

    form {
      display: flex;
      flex-wrap: wrap;
      margin: 20px auto;
      position: relative;

      @media (min-width: 768px) {
        margin: 60px auto 30px;
      }

      input {
        outline: none;
        padding: 5px 10px;
        border: 1px solid #999;
        width: 100%;
        flex: 1;
        font-size: 1.25rem;
        line-height: 48px;
        color: black;
        border-right: none;

        @media (min-width: 768px) {
          font-size: 1.875rem;
          padding: 10px 20px;
        }
      }

      button {
        padding: 10px 0;
        width: 80px;
        background-color: #fff;
        border: 1px solid #999;
        border-left: none;
        text-align: center;
        cursor: pointer;

        &:hover svg {
          fill: black;
        }
      }

      svg {
        width: 28px;
        height: 28px;
        fill: var(--primary-color);
        transition: all .3s ease-in;
      }
    }
  }

  .resultsInfo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  .searchQuery {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    margin-right: 8px;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .resultsStats {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    margin-right: 8px;
    color: var(--primary-color);

    @media (min-width: 768px) {
      font-size: 1.75rem;
      margin-bottom: 4px;
    }
  }

  .currentRefinements {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .searhResultWrapper {
    width: 100%;

    @media (min-width: 768px) {
      padding-left: 48px;
      margin-bottom: 48px;
    }

    .preloader-icon {
      display: flex;
      margin: 30px auto;
    }
  }

  .filters {
    display: none;

    @media (min-width: 768px) {
      display: block;
      margin-bottom: 64px;
    }


  }

  .filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

    >span {
      font-size: 1.125rem;
      font-weight: 600;
    }


  }

  .searchForm {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .searchInput {
    outline: none;
    padding: 10px 20px;
    border: 1px solid #999;
    width: 100%;
    flex: 1;
    font-size: 30px;
    line-height: 48px;
    color: black;
    border-right: none;
  }

  .searchButton {
    padding: 10px 0;
    width: 60;
    background-color: #fff;
    border-color: #999;
    border-left: none;
    text-align: center;
    cursor: pointer;
  }

  .actions {
    display: none;

    @media (min-width: 768px) {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      padding-bottom: 16px;
      margin-bottom: 16px;
      width: 100%;
      align-self: flex-start;
    }


  }

  .icon {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:focus {
      outline: 1px dashed #b8f0c0;
    }

    svg {
      width: 28px;
      height: 28px;
      fill: black;
    }
  }

  .iconActive {
    svg {
      fill: #b8f0c0;
    }
  }
}
